PORT=3003

ABACATE_PAY_KEY=abc_dev_QW5mhp6cbwLnggDyEgusnbEw
ABACATE_PAY_BASE_URL=https://api.abacatepay.com/v1

EVOLUTION_URL=https://teste-pratico-1-evolution-api.ergehc.easypanel.host
EVOLUTION_APIKEY=429683C4C977415CAAFCCE10F7D57E11
EVOLUTION_INSTANCE=instancia_pedro_pamplona


deixando aqui por hora